.section {
    padding: 8px 8px 8px 8px;
    overflow: hidden !important;
    margin-top: -1px;
   
        background: var(--light-surface-container-lowest);
border: unset !important; 
    .container {
        background: var(--light-secondary);

        border-radius: 24px;
        padding-top: 96px;
        padding-bottom: 96px;
        position: relative;

      border: 1px solid var(--dark-outline-variant); 

        @media(max-width:600px) {
            padding-top: 64px;
            padding-bottom: 64px;
            padding-left: 0; 
            padding-right: 0; 
        }
        
        .itemsContainer {
      
            justify-content: center;
            column-gap: 32px;
            row-gap: 56px; 
             padding-left: 0; 
            padding-right: 0;
            @media(max-width:1100px) {
               column-gap: 32px;
            row-gap: 56px; 

            }

            @media(max-width:700px) {
                gap: 56px;
                margin-top: 40px !important;
                margin-bottom: 40px !important;


            }

            .item {
                width: calc(33% - 32px); 
                flex-direction: column;
                   @media(max-width:1100px) {
             width: calc(50% - 32px); 

            }
                    @media(max-width:700px) {
             width: 100%; 

            }

                .icon {
                    position: relative;
                    top: 3px;
                }
            }
        }
    }

}