.container {
  position: relative;

  .videoWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 12px;
    // overflow: hidden;
    // border: 1px solid var(--light-outline-variant);


  }

  .videoOverlay {
    background: rgba(31, 100, 135, 0.233);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    border-radius: 12px;

  }

  .buttonStyled {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    svg {
      &:hover {
        cursor: pointer;
      }

      width: 72px;
      height: 72px;
      cursor: pointer;

    }
  }

}