.section {
    padding: 8px 8px 8px 8px;
    overflow: hidden !important;
        background: var(--light-surface-container-lowest);
    margin-top: -1px;

    .container {
        background: var(--light-secondary);

        border-radius: 24px;
        padding-top: 96px;
        padding-bottom: 96px;
        position: relative;
  padding-left: 0; 
            padding-right: 0; 
      border: 1px solid var(--dark-outline-variant); 

        @media(max-width:600px) {
            padding-top: 64px;
            padding-bottom: 64px;
         
        }
        
        .itemsContainer {
            justify-content: center;
            column-gap: 32px;
            row-gap: 56px; 
            padding-left: 0; 
            padding-right: 0;
            @media(max-width:1100px) {
                gap: 40px;

            }

            @media(max-width:700px) {
                gap: 24px;
                margin-top: 24px !important;
                margin-bottom: 24px !important;


            }

            .item {
                       width: calc(33% - 32px); 
                flex-direction: column;
                   @media(max-width:1100px) {
             width: calc(50% - 32px); 

            }
                    @media(max-width:700px) {
             width: 100%; 

            }
                flex-direction: column;
                @media(max-width: 600px) {
                }

                .icon {
                    position: relative;
                    top: 3px;
                }
            }
        }
        .testimonialsContainer{ 
            max-width: 700px; 
            .item{ 
                background: var(--light-primary-container); 
                padding: 24px 16px; 
                border: 1px solid var(--light-secondary); 
                margin-bottom: 16px; 
                
            }
        }
    }

}