:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-primary: rgb(8 39 28);
 --light-surface-tint: rgb(70 101 86);
 --light-on-primary: rgb(255 255 255);
 --light-primary-container: rgb(43 73 60);
 --light-on-primary-container: rgb(255 255 255);
 --light-secondary: rgb(9 39 28);
 --light-on-secondary: rgb(255 255 255);
 --light-secondary-container: rgb(43 73 59);
 --light-on-secondary-container: rgb(255 255 255);
 --light-tertiary: rgb(37 34 21);
 --light-on-tertiary: rgb(255 255 255);
 --light-tertiary-container: rgb(71 67 51);
 --light-on-tertiary-container: rgb(255 255 255);
 --light-error: rgb(78 0 2);
 --light-on-error: rgb(255 255 255);
 --light-error-container: rgb(140 0 9);
 --light-on-error-container: rgb(255 255 255);
 --light-background: rgb(250 249 247);
 --light-on-background: rgb(26 28 27);
 --light-surface: rgb(250 249 247);
 --light-on-surface: rgb(0 0 0);
 --light-surface-variant: rgb(221 228 222);
 --light-on-surface-variant: rgb(31 37 34);
 --light-outline: rgb(62 68 64);
 --light-outline-variant: rgba(62, 68, 64, 0.2);
 --light-shadow: rgb(0 0 0);
 --light-scrim: rgb(0 0 0);
 --light-inverse-surface: rgb(47 49 47);
 --light-inverse-on-surface: rgb(255 255 255);
 --light-inverse-primary: rgb(210 244 225);
 --light-primary-fixed: rgb(43 73 60);
 --light-on-primary-fixed: rgb(255 255 255);
 --light-primary-fixed-dim: rgb(20 50 38);
 --light-on-primary-fixed-variant: rgb(20 50 38);
 --light-secondary-fixed: rgb(43 73 59);
 --light-on-secondary-fixed: rgb(255 255 255);
 --light-secondary-fixed-dim: rgb(21 50 38);
 --light-on-secondary-fixed-variant: rgb(255 255 255);
 --light-tertiary-fixed: rgb(71 67 51);
 --light-on-tertiary-fixed: rgb(255 255 255);
 --light-tertiary-fixed-dim: rgb(48 45 30);
 --light-on-tertiary-fixed-variant: rgb(255 255 255);
 --light-surface-dim: rgb(218 218 216);
 --light-surface-bright: rgb(250 249 247);
 --light-surface-container-lowest: rgb(255 255 255);
 --light-surface-container-low: rgb(244 244 241);
 --light-surface-container: rgb(238 238 235);
 --light-surface-container-high: rgb(232 232 230);
 --light-surface-container-highest: rgb(227 226 224);

  --dark-primary: rgb(145 206 244);
  --dark-surface-tint: rgb(145 206 244);
  --dark-on-primary: rgb(0 52 75);
  --dark-primary-container: rgb(0 76 106);
  --dark-on-primary-container: rgb(197 231 255);
  --dark-secondary: rgb(152 212 164);
  --dark-on-secondary: rgb(0 57 25);
  --dark-secondary-container: rgb(22 81 44);
  --dark-on-secondary-container: rgb(179 241 190);
  --dark-tertiary: rgb(145 206 244);
  --dark-on-tertiary: rgb(0 52 74);
  --dark-tertiary-container: rgb(0 76 106);
  --dark-on-tertiary-container: rgb(197 231 255);
  --dark-error: rgb(255 180 171);
  --dark-on-error: rgb(105 0 5);
  --dark-error-container: rgb(147 0 10);
  --dark-on-error-container: rgb(255 218 214);
  --dark-background: rgb(15 20 23);
  --dark-on-background: rgb(223 227 231);
  --dark-surface: rgb(15 20 23);
  --dark-on-surface: rgb(236, 239, 243);
  --dark-surface-variant: rgb(65 72 77);
  --dark-on-surface-variant: rgb(193 199 206);
  --dark-outline: rgb(139 146 151);
  --dark-outline-variant: rgb(65 72 77);
  --dark-shadow: rgb(0 0 0);
  --dark-scrim: rgb(0 0 0);
  --dark-inverse-surface: rgb(223 227 231);
  --dark-inverse-on-surface: rgb(44 49 52);
  --dark-inverse-primary: rgb(31 101 135);
  --dark-primary-fixed: rgb(197 231 255);
  --dark-on-primary-fixed: rgb(0 30 45);
  --dark-primary-fixed-dim: rgb(145 206 244);
  --dark-on-primary-fixed-variant: rgb(0 76 106);
  --dark-secondary-fixed: rgb(179 241 190);
  --dark-on-secondary-fixed: rgb(0 33 12);
  --dark-secondary-fixed-dim: rgb(152 212 164);
  --dark-on-secondary-fixed-variant: rgb(22 81 44);
  --dark-tertiary-fixed: rgb(197 231 255);
  --dark-on-tertiary-fixed: rgb(0 30 45);
  --dark-tertiary-fixed-dim: rgb(145 206 244);
  --dark-on-tertiary-fixed-variant: rgb(0 76 106);
  --dark-surface-dim: rgb(15 20 23);
  --dark-surface-bright: rgb(53 58 61);
  --dark-surface-container-lowest: rgb(10 15 18);
  --dark-surface-container-low: rgb(24 28 31);
  --dark-surface-container: rgb(28 32 36);
  --dark-surface-container-high: rgb(38 43 46);
  --dark-surface-container-highest: rgb(49 53 57);
}
