.section { 
    padding: 120px 0 120px 0;
    overflow: hidden !important;
    background: var(--light-surface-container-lowest);
        margin-top: -1px;

    @media(max-width:600px ){ 
        padding: 64px 0 64px 0;
        
    }
    .titleContainer { 
        grid-template-columns: 1fr;
        @media(max-width:1100px ){ 
           display: flex; 
           flex-direction: column-reverse;
           gap: 24px
        }
        .imageWrapper{ 
            overflow: visible !important;
            .backgroundGradient { 
                // position: absolute; 
                // width: 100%; 
                // height: 100%; 
                // top: 0; 
                // left: 0; 
                // background: var(--Background-gradeint, linear-gradient(90deg, #1A868A 0%, #6AEB95 100%));
                // filter: blur(31.25px);
            }
         
        }
        .contentWrapper{ 
            .titleWrapper{ 

            }
        }
       
       
    }

     .stepsContainer{ 
            grid-template-columns: 1fr 1fr 1fr;
    @media(max-width:900px ){ 
        grid-template-columns: 1fr; 
        gap: 16px; 
        margin-top: 32px !important; 
    }
            .stepWrapper{ 
                position: relative; 
              background: var(--light-surface-container-low); 
              padding: 24px 16px ; 
                border: 1px solid var(--light-outline-variant); 
                .title{ 
                   .stepTitleNumberWrapper{ 
                    background: var(--light-primary);
                    width: 80px; 
                    height: 80px;  
                    border-radius: 50%;
                    .stepNumber{ 
                        font-weight: 700;
   
                    }
                   } 
                }
                .content{ 
    
                }
            }
        }
  
}