.section {
    padding: 8px 8px 8px 8px;
    overflow: hidden !important;
    background: var(--light-surface-container-lowest);

    .container {
        background: linear-gradient(180deg,
                rgba(10, 184, 82, 0) 0%,
                rgba(6, 177, 134, 0.1) 100%);
        border-radius: 24px;
        padding-top: 96px;
        padding-bottom: 96px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1px;
            /* border thickness */

            background: linear-gradient(180deg,
                    rgba(10, 184, 82, 0) 0%,
                                        rgba(10, 184, 82, 0) 30%,

                    rgba(6, 177, 134, 0.1) 100%);

            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;

            pointer-events: none;

        }

        @media(max-width:600px) {
            padding-top: 64px;
            padding-bottom: 64px;
            padding-left: 0; 
            padding-right: 0; 
        }

        .itemsContainer {
            grid-template-columns: 500px 500px;
            justify-content: space-between;

            @media(max-width:1100px) {
                grid-template-columns: 1fr 1fr;
                gap: 16px;

            }

            @media(max-width:700px) {
                grid-template-columns: 1fr;
                gap: 0;
                margin-top: 24px !important;
                margin-bottom: 24px !important;


            }

            .item {
                grid-template-columns: 24px 1fr;

                @media(max-width: 600px) {
                    gap: 8px;
                }

                .icon {
                    position: relative;
                    top: 3px;
                }
            }
        }
    }

}